# Предобработка

In [1]:
import pandas as pd
import numpy as np

In [2]:
events = pd.read_csv("data/train_events.csv")
video = pd.read_csv("data/video_info_v2.csv")

In [3]:
dataset = pd.merge(events, video, on='rutube_video_id', how='left')

dataset.head(5)

,event_timestamp,region,ua_device_type,ua_client_type,ua_os,ua_client_name,total_watchtime,rutube_video_id,viewer_uid,title,category,duration,author_id
0,2024-06-01 06:40:58+03:00,Chelyabinsk,desktop,browser,Windows,Yandex Browser,1883,video_133074,10067243,Папа с особенностями. Мужское / Женское. Выпус...,Телепередачи,2456534,1009219
1,2024-06-01 19:33:24+03:00,Bashkortostan Republic,smartphone,mobile app,Android,Rutube,512,video_362960,10245341,Comedy Club: Мальдивы | Андрей Бебуришвили,Юмор,519211,1006760
2,2024-06-01 21:30:43+03:00,St.-Petersburg,desktop,browser,Windows,Chrome,5647,video_96775,10894333,"Новая Битва экстрасенсов, 24 сезон, 11 выпуск",Телепередачи,5518280,1009257
3,2024-06-01 23:03:42+03:00,Moscow,smartphone,mobile app,Android,Rutube,1521,video_161610,10029092,Сергей Орлов-снял дом!!!,Разное,1522069,1058671
4,2024-06-01 22:48:09+03:00,Moscow,smartphone,mobile app,Android,Rutube,71,video_116245,10452976,Ищем сокровища в Полевском | Уральская Флоренц...,Путешествия,1249920,1020020

In [4]:
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()

dataset['rutube_video_id'] = dataset['rutube_video_id'].str.replace('video_', '')
dataset['rutube_video_id'] = dataset['rutube_video_id'].astype(int)
dataset['event_timestamp'] = pd.to_datetime(dataset['event_timestamp'])

dataset.head(5)

,event_timestamp,region,ua_device_type,ua_client_type,ua_os,ua_client_name,total_watchtime,rutube_video_id,viewer_uid,title,category,duration,author_id
0,2024-06-01 06:40:58+03:00,Chelyabinsk,desktop,browser,Windows,Yandex Browser,1883,133074,10067243,Папа с особенностями. Мужское / Женское. Выпус...,Телепередачи,2456534,1009219
1,2024-06-01 19:33:24+03:00,Bashkortostan Republic,smartphone,mobile app,Android,Rutube,512,362960,10245341,Comedy Club: Мальдивы | Андрей Бебуришвили,Юмор,519211,1006760
2,2024-06-01 21:30:43+03:00,St.-Petersburg,desktop,browser,Windows,Chrome,5647,96775,10894333,"Новая Битва экстрасенсов, 24 сезон, 11 выпуск",Телепередачи,5518280,1009257
3,2024-06-01 23:03:42+03:00,Moscow,smartphone,mobile app,Android,Rutube,1521,161610,10029092,Сергей Орлов-снял дом!!!,Разное,1522069,1058671
4,2024-06-01 22:48:09+03:00,Moscow,smartphone,mobile app,Android,Rutube,71,116245,10452976,Ищем сокровища в Полевском | Уральская Флоренц...,Путешествия,1249920,1020020

In [5]:
dataset['duration'] = dataset['duration'] // 1000

In [6]:
dataset.head(5)

,event_timestamp,region,ua_device_type,ua_client_type,ua_os,ua_client_name,total_watchtime,rutube_video_id,viewer_uid,title,category,duration,author_id
0,2024-06-01 06:40:58+03:00,Chelyabinsk,desktop,browser,Windows,Yandex Browser,1883,133074,10067243,Папа с особенностями. Мужское / Женское. Выпус...,Телепередачи,2456,1009219
1,2024-06-01 19:33:24+03:00,Bashkortostan Republic,smartphone,mobile app,Android,Rutube,512,362960,10245341,Comedy Club: Мальдивы | Андрей Бебуришвили,Юмор,519,1006760
2,2024-06-01 21:30:43+03:00,St.-Petersburg,desktop,browser,Windows,Chrome,5647,96775,10894333,"Новая Битва экстрасенсов, 24 сезон, 11 выпуск",Телепередачи,5518,1009257
3,2024-06-01 23:03:42+03:00,Moscow,smartphone,mobile app,Android,Rutube,1521,161610,10029092,Сергей Орлов-снял дом!!!,Разное,1522,1058671
4,2024-06-01 22:48:09+03:00,Moscow,smartphone,mobile app,Android,Rutube,71,116245,10452976,Ищем сокровища в Полевском | Уральская Флоренц...,Путешествия,1249,1020020

In [7]:
columns_to_sum = ['total_watchtime']
other_columns = [col for col in dataset.columns if col not in columns_to_sum + ['rutube_video_id', 'viewer_uid']]

agg_dict = {col: 'sum' for col in columns_to_sum}
agg_dict.update({col: 'first' for col in other_columns})

dataset = dataset.groupby(['rutube_video_id', 'viewer_uid'], as_index=False).agg(agg_dict)

In [8]:
dataset.head(5)

,rutube_video_id,viewer_uid,total_watchtime,event_timestamp,region,ua_device_type,ua_client_type,ua_os,ua_client_name,title,category,duration,author_id
0,5,10146165,4018,2024-06-04 17:18:43+03:00,Kemerovo Oblast,smartphone,mobile app,Android,Rutube,Безумная любовь 1 сезон 2 серия,Сериалы,4096,1095392
1,6,10003283,360,2024-06-16 16:50:40+03:00,Irkutsk Oblast,smartphone,mobile app,Android,Rutube,Нидерланды - Ирландия. Обзор отборочного матча...,Лайфстайл,365,1002444
2,6,10080455,360,2024-06-20 07:44:29+03:00,Moscow,smartphone,mobile app,Android,Rutube,Нидерланды - Ирландия. Обзор отборочного матча...,Лайфстайл,365,1002444
3,6,10128191,282,2024-06-08 00:23:46+03:00,Moscow,smartphone,mobile app,Android,Rutube,Нидерланды - Ирландия. Обзор отборочного матча...,Лайфстайл,365,1002444
4,6,10207004,150,2024-06-27 06:33:34+03:00,Krasnodar Krai,smartphone,mobile app,Android,Rutube,Нидерланды - Ирландия. Обзор отборочного матча...,Лайфстайл,365,1002444

In [9]:
dataset['watch_percentage'] = (dataset['total_watchtime'] / dataset['duration']) * 100
dataset['watch_percentage'] = dataset['watch_percentage'].apply(lambda x: min(round(x), 100))

In [10]:
dataset.head(5)

,rutube_video_id,viewer_uid,total_watchtime,event_timestamp,region,ua_device_type,ua_client_type,ua_os,ua_client_name,title,category,duration,author_id,watch_percentage
0,5,10146165,4018,2024-06-04 17:18:43+03:00,Kemerovo Oblast,smartphone,mobile app,Android,Rutube,Безумная любовь 1 сезон 2 серия,Сериалы,4096,1095392,98
1,6,10003283,360,2024-06-16 16:50:40+03:00,Irkutsk Oblast,smartphone,mobile app,Android,Rutube,Нидерланды - Ирландия. Обзор отборочного матча...,Лайфстайл,365,1002444,99
2,6,10080455,360,2024-06-20 07:44:29+03:00,Moscow,smartphone,mobile app,Android,Rutube,Нидерланды - Ирландия. Обзор отборочного матча...,Лайфстайл,365,1002444,99
3,6,10128191,282,2024-06-08 00:23:46+03:00,Moscow,smartphone,mobile app,Android,Rutube,Нидерланды - Ирландия. Обзор отборочного матча...,Лайфстайл,365,1002444,77
4,6,10207004,150,2024-06-27 06:33:34+03:00,Krasnodar Krai,smartphone,mobile app,Android,Rutube,Нидерланды - Ирландия. Обзор отборочного матча...,Лайфстайл,365,1002444,41

In [11]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1581972 entries, 0 to 1581971
Data columns (total 14 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   rutube_video_id   1581972 non-null  int32
 1   viewer_uid        1581972 non-null  int64
 2   total_watchtime   1581972 non-null  int64
 3   event_timestamp   1581972 non-null  datetime64[ns, UTC+03:00]
 4   region            1581972 non-null  object
 5   ua_device_type    1581972 non-null  object
 6   ua_client_type    1581972 non-null  object
 7   ua_os             1477751 non-null  object
 8   ua_client_name    1581972 non-null  object
 9   title             1581972 non-null  object
 10  category          1581972 non-null  object
 11  duration          1581972 non-null  int64
 12  author_id         1581972 non-null  int64
 13  watch_percentage  1581972 non-null  int64
dtypes: datetime64[ns, UTC+03:00](1), int32(1), int64(5), object(7)
memory usage: 162.9+ MB

In [12]:
dataset['number_of_videos'] = dataset.groupby('viewer_uid')['viewer_uid'].transform('count')
dataset.head(5)

,rutube_video_id,viewer_uid,total_watchtime,event_timestamp,region,ua_device_type,ua_client_type,ua_os,ua_client_name,title,category,duration,author_id,watch_percentage,number_of_videos
0,5,10146165,4018,2024-06-04 17:18:43+03:00,Kemerovo Oblast,smartphone,mobile app,Android,Rutube,Безумная любовь 1 сезон 2 серия,Сериалы,4096,1095392,98,9
1,6,10003283,360,2024-06-16 16:50:40+03:00,Irkutsk Oblast,smartphone,mobile app,Android,Rutube,Нидерланды - Ирландия. Обзор отборочного матча...,Лайфстайл,365,1002444,99,7
2,6,10080455,360,2024-06-20 07:44:29+03:00,Moscow,smartphone,mobile app,Android,Rutube,Нидерланды - Ирландия. Обзор отборочного матча...,Лайфстайл,365,1002444,99,9
3,6,10128191,282,2024-06-08 00:23:46+03:00,Moscow,smartphone,mobile app,Android,Rutube,Нидерланды - Ирландия. Обзор отборочного матча...,Лайфстайл,365,1002444,77,6
4,6,10207004,150,2024-06-27 06:33:34+03:00,Krasnodar Krai,smartphone,mobile app,Android,Rutube,Нидерланды - Ирландия. Обзор отборочного матча...,Лайфстайл,365,1002444,41,9

In [13]:
dataset['total_time'] = dataset.groupby('viewer_uid')['total_watchtime'].transform('sum')
dataset['mean_taim'] = dataset['total_time'] // dataset['number_of_videos']
dataset.head(5)

,rutube_video_id,viewer_uid,total_watchtime,event_timestamp,region,ua_device_type,ua_client_type,ua_os,ua_client_name,title,category,duration,author_id,watch_percentage,number_of_videos,total_time,mean_taim
0,5,10146165,4018,2024-06-04 17:18:43+03:00,Kemerovo Oblast,smartphone,mobile app,Android,Rutube,Безумная любовь 1 сезон 2 серия,Сериалы,4096,1095392,98,9,35474,3941
1,6,10003283,360,2024-06-16 16:50:40+03:00,Irkutsk Oblast,smartphone,mobile app,Android,Rutube,Нидерланды - Ирландия. Обзор отборочного матча...,Лайфстайл,365,1002444,99,7,2521,360
2,6,10080455,360,2024-06-20 07:44:29+03:00,Moscow,smartphone,mobile app,Android,Rutube,Нидерланды - Ирландия. Обзор отборочного матча...,Лайфстайл,365,1002444,99,9,9112,1012
3,6,10128191,282,2024-06-08 00:23:46+03:00,Moscow,smartphone,mobile app,Android,Rutube,Нидерланды - Ирландия. Обзор отборочного матча...,Лайфстайл,365,1002444,77,6,4554,759
4,6,10207004,150,2024-06-27 06:33:34+03:00,Krasnodar Krai,smartphone,mobile app,Android,Rutube,Нидерланды - Ирландия. Обзор отборочного матча...,Лайфстайл,365,1002444,41,9,46589,5176

In [14]:
dataset['event_timestamp'] = pd.to_datetime(dataset['event_timestamp'])
dataset['day_of_week'] = dataset['event_timestamp'].dt.day_name()

In [15]:
from data.time_zones import region_timezones
from pytz import timezone


# Функция для конвертации московского времени в местное
def convert_to_local_time(row):
    moscow_time = pd.to_datetime(row['event_timestamp'])
    local_timezone = timezone(region_timezones.get(row['region'], 'Europe/Moscow'))
    
    # Конвертация московского времени в местное
    moscow_time = moscow_time.tz_convert('Europe/Moscow')  # Время уже в зоне Москвы
    local_time = moscow_time.astimezone(local_timezone)
    
    local_hour = local_time.hour + local_time.minute / 60  # Учитываем минуты для округления
    return round(local_hour)

# Применяем функцию к каждому ряду и создаем новый столбец
dataset['local_time'] = dataset.apply(convert_to_local_time, axis=1)

In [16]:
dataset.head(5)

,rutube_video_id,viewer_uid,total_watchtime,event_timestamp,region,ua_device_type,ua_client_type,ua_os,ua_client_name,title,category,duration,author_id,watch_percentage,number_of_videos,total_time,mean_taim,day_of_week,local_time
0,5,10146165,4018,2024-06-04 17:18:43+03:00,Kemerovo Oblast,smartphone,mobile app,Android,Rutube,Безумная любовь 1 сезон 2 серия,Сериалы,4096,1095392,98,9,35474,3941,Tuesday,21
1,6,10003283,360,2024-06-16 16:50:40+03:00,Irkutsk Oblast,smartphone,mobile app,Android,Rutube,Нидерланды - Ирландия. Обзор отборочного матча...,Лайфстайл,365,1002444,99,7,2521,360,Sunday,22
2,6,10080455,360,2024-06-20 07:44:29+03:00,Moscow,smartphone,mobile app,Android,Rutube,Нидерланды - Ирландия. Обзор отборочного матча...,Лайфстайл,365,1002444,99,9,9112,1012,Thursday,8
3,6,10128191,282,2024-06-08 00:23:46+03:00,Moscow,smartphone,mobile app,Android,Rutube,Нидерланды - Ирландия. Обзор отборочного матча...,Лайфстайл,365,1002444,77,6,4554,759,Saturday,0
4,6,10207004,150,2024-06-27 06:33:34+03:00,Krasnodar Krai,smartphone,mobile app,Android,Rutube,Нидерланды - Ирландия. Обзор отборочного матча...,Лайфстайл,365,1002444,41,9,46589,5176,Thursday,7

In [17]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1581972 entries, 0 to 1581971
Data columns (total 19 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   rutube_video_id   1581972 non-null  int32
 1   viewer_uid        1581972 non-null  int64
 2   total_watchtime   1581972 non-null  int64
 3   event_timestamp   1581972 non-null  datetime64[ns, UTC+03:00]
 4   region            1581972 non-null  object
 5   ua_device_type    1581972 non-null  object
 6   ua_client_type    1581972 non-null  object
 7   ua_os             1477751 non-null  object
 8   ua_client_name    1581972 non-null  object
 9   title             1581972 non-null  object
 10  category          1581972 non-null  object
 11  duration          1581972 non-null  int64
 12  author_id         1581972 non-null  int64
 13  watch_percentage  1581972 non-null  int64
 14  number_of_videos  1581972 non-null  int64
 15  total_time        1581972 non-null  int64
 16  mean_taim         1581972 non-null  int64
 17  day_of_week       1581972 non-null  object
 18  local_time        1581972 non-null  int64
dtypes: datetime64[ns, UTC+03:00](1), int32(1), int64(9), object(8)
memory usage: 223.3+ MB

In [18]:
dataset['day_of_week'] = label_encoder.fit_transform(dataset['day_of_week'])

dataset.drop(['event_timestamp','title'], inplace=True, axis=1)
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1581972 entries, 0 to 1581971
Data columns (total 17 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   rutube_video_id   1581972 non-null  int32
 1   viewer_uid        1581972 non-null  int64
 2   total_watchtime   1581972 non-null  int64
 3   region            1581972 non-null  object
 4   ua_device_type    1581972 non-null  object
 5   ua_client_type    1581972 non-null  object
 6   ua_os             1477751 non-null  object
 7   ua_client_name    1581972 non-null  object
 8   category          1581972 non-null  object
 9   duration          1581972 non-null  int64
 10  author_id         1581972 non-null  int64
 11  watch_percentage  1581972 non-null  int64
 12  number_of_videos  1581972 non-null  int64
 13  total_time        1581972 non-null  int64
 14  mean_taim         1581972 non-null  int64
 15  day_of_week       1581972 non-null  int32
 16  local_time        1581972 non-null  int64
dtypes: int32(2), int64(9), object(6)
memory usage: 193.1+ MB

In [19]:
dataset.head(5)

,rutube_video_id,viewer_uid,total_watchtime,region,ua_device_type,ua_client_type,ua_os,ua_client_name,category,duration,author_id,watch_percentage,number_of_videos,total_time,mean_taim,day_of_week,local_time
0,5,10146165,4018,Kemerovo Oblast,smartphone,mobile app,Android,Rutube,Сериалы,4096,1095392,98,9,35474,3941,5,21
1,6,10003283,360,Irkutsk Oblast,smartphone,mobile app,Android,Rutube,Лайфстайл,365,1002444,99,7,2521,360,3,22
2,6,10080455,360,Moscow,smartphone,mobile app,Android,Rutube,Лайфстайл,365,1002444,99,9,9112,1012,4,8
3,6,10128191,282,Moscow,smartphone,mobile app,Android,Rutube,Лайфстайл,365,1002444,77,6,4554,759,2,0
4,6,10207004,150,Krasnodar Krai,smartphone,mobile app,Android,Rutube,Лайфстайл,365,1002444,41,9,46589,5176,4,7

In [20]:
from data.region import region
from data.ua_client_name_to_num import client_name
from data.ua_os_type_to_num import os_type


# Переведите название регионов в нижний регистр
dataset['region'] = dataset['region'].str.lower()
dataset['region'] = dataset['region'].replace(region)

dataset['ua_client_name'] = dataset['ua_client_name'].str.lower()
dataset['ua_client_name'] = dataset['ua_client_name'].replace(client_name)

dataset['ua_os'] = dataset['ua_os'].str.lower()
dataset['ua_os'] = dataset['ua_os'].replace(os_type)

C:\Users\zenfo\AppData\Local\Temp\ipykernel_3728\2535130209.py:8: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  dataset['region'] = dataset['region'].replace(region)
C:\Users\zenfo\AppData\Local\Temp\ipykernel_3728\2535130209.py:11: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  dataset['ua_client_name'] = dataset['ua_client_name'].replace(client_name)
C:\Users\zenfo\AppData\Local\Temp\ipykernel_3728\2535130209.py:14: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  dataset['ua_os'] = dataset['ua_os'].replace(os_type)

In [21]:
dataset = pd.get_dummies(dataset, columns=['ua_device_type'])
dataset = pd.get_dummies(dataset, columns=['ua_client_type'])
dataset = pd.get_dummies(dataset, columns=['category'])
dataset = pd.get_dummies(dataset, columns=['region'])

In [22]:

dataset = dataset.apply(lambda x: x.astype(int) if x.dtype == bool else x)
dataset['ua_os'] = dataset['ua_os'].fillna(1).astype(int)
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1581972 entries, 0 to 1581971
Data columns (total 67 columns):
 #   Column                                 Non-Null Count    Dtype
---  ------                                 --------------    -----
 0   rutube_video_id                        1581972 non-null  int32
 1   viewer_uid                             1581972 non-null  int64
 2   total_watchtime                        1581972 non-null  int64
 3   ua_os                                  1581972 non-null  int32
 4   ua_client_name                         1581972 non-null  int64
 5   duration                               1581972 non-null  int64
 6   author_id                              1581972 non-null  int64
 7   watch_percentage                       1581972 non-null  int64
 8   number_of_videos                       1581972 non-null  int64
 9   total_time                             1581972 non-null  int64
 10  mean_taim                              1581972 non-null  int64
 11  day_of_week                            1581972 non-null  int32
 12  local_time                             1581972 non-null  int64
 13  ua_device_type_desktop                 1581972 non-null  int32
 14  ua_device_type_smartphone              1581972 non-null  int32
 15  ua_device_type_tablet                  1581972 non-null  int32
 16  ua_client_type_av                      1581972 non-null  int32
 17  ua_client_type_browser                 1581972 non-null  int32
 18  ua_client_type_mobile app              1581972 non-null  int32
 19  category_Авто-мото                     1581972 non-null  int32
 20  category_Аниме                         1581972 non-null  int32
 21  category_Аудио                         1581972 non-null  int32
 22  category_Аудиокниги                    1581972 non-null  int32
 23  category_Бизнес и предпринимательство  1581972 non-null  int32
 24  category_Видеоигры                     1581972 non-null  int32
 25  category_Детям                         1581972 non-null  int32
 26  category_Дизайн                        1581972 non-null  int32
 27  category_Еда                           1581972 non-null  int32
 28  category_Животные                      1581972 non-null  int32
 29  category_Здоровье                      1581972 non-null  int32
 30  category_Интервью                      1581972 non-null  int32
 31  category_Красота                       1581972 non-null  int32
 32  category_Культура                      1581972 non-null  int32
 33  category_Лайфстайл                     1581972 non-null  int32
 34  category_Лайфхаки                      1581972 non-null  int32
 35  category_Люди и блоги                  1581972 non-null  int32
 36  category_Музыка                        1581972 non-null  int32
 37  category_Мультфильмы                   1581972 non-null  int32
 38  category_Наука                         1581972 non-null  int32
 39  category_Недвижимость                  1581972 non-null  int32
 40  category_Обзоры и распаковки товаров   1581972 non-null  int32
 41  category_Обучение                      1581972 non-null  int32
 42  category_Охота и рыбалка               1581972 non-null  int32
 43  category_Природа                       1581972 non-null  int32
 44  category_Психология                    1581972 non-null  int32
 45  category_Путешествия                   1581972 non-null  int32
 46  category_Развлечения                   1581972 non-null  int32
 47  category_Разное                        1581972 non-null  int32
 48  category_Сад и огород                  1581972 non-null  int32
 49  category_Сериалы                       1581972 non-null  int32
 50  category_Спорт                         1581972 non-null  int32
 51  category_Строительство и ремонт        1581972 non-null  int32
 52  category_Телепередачи                  1581972 non-null  int32
 53  category_Техника и оборудование        1581972 non-null  int32
 54  category_Технологии и интернет         1581972 non-null  int32
 55  category_Фильмы                        1581972 non-null  int32
 56  category_Хобби                         1581972 non-null  int32
 57  category_Эзотерика                     1581972 non-null  int32
 58  category_Юмор                          1581972 non-null  int32
 59  region_1                               1581972 non-null  int32
 60  region_2                               1581972 non-null  int32
 61  region_3                               1581972 non-null  int32
 62  region_4                               1581972 non-null  int32
 63  region_5                               1581972 non-null  int32
 64  region_6                               1581972 non-null  int32
 65  region_7                               1581972 non-null  int32
 66  region_8                               1581972 non-null  int32
dtypes: int32(57), int64(10)
memory usage: 464.7 MB

In [23]:
dataset.head(5)

,rutube_video_id,viewer_uid,total_watchtime,ua_os,ua_client_name,duration,author_id,watch_percentage,number_of_videos,total_time,...,category_Эзотерика,category_Юмор,region_1,region_2,region_3,region_4,region_5,region_6,region_7,region_8
0,5,10146165,4018,2,7,4096,1095392,98,9,35474,...,0,0,0,0,0,0,0,1,0,0
1,6,10003283,360,2,7,365,1002444,99,7,2521,...,0,0,0,0,0,0,0,1,0,0
2,6,10080455,360,2,7,365,1002444,99,9,9112,...,0,0,1,0,0,0,0,0,0,0
3,6,10128191,282,2,7,365,1002444,77,6,4554,...,0,0,1,0,0,0,0,0,0,0
4,6,10207004,150,2,7,365,1002444,41,9,46589,...,0,0,0,0,1,0,0,0,0,0

# Обучение

In [24]:
from xgboost import XGBClassifier
age_clf = XGBClassifier()
age_clf.load_model("xgb.json")

In [25]:
y_pred_age = age_clf.predict(dataset)

In [26]:
# Проверить синхронизированы ли y_pred_age и viewer_uid, соответствуют ли они друг другу
age_df = pd.DataFrame({'viewer_uid': dataset['viewer_uid'], 'age_class': y_pred_age})
age_df = age_df.groupby('viewer_uid')['age_class'].median().round().astype(int).reset_index()
age_df.head(10)

   viewer_uid  age_class
0    10000001          1
1    10000002          1
2    10000004          1
3    10000005          1
4    10000006          1
5    10000007          1
6    10000008          1
7    10000009          3
8    10000010          1
9    10000011          1

In [27]:
sex_clf = XGBClassifier()
sex_clf.load_model("xgb_sex.json")

In [34]:
id = dataset['viewer_uid']
dataset = dataset.rename(columns={'total_time': 'total_taim'})
X = dataset.drop(["rutube_video_id",'viewer_uid'], axis=1)
y_pred_sex = sex_clf.predict(X)

In [35]:
sex_df = pd.DataFrame(y_pred_sex, columns=['sex'], index=None)

In [36]:
sex_df = sex_df.join(dataset["viewer_uid"], how="left")
#pred = pred.join(dataset['author_id'], how="left")

In [37]:
sex_df.head(5)

   sex  viewer_uid
0    0    10146165
1    1    10003283
2    1    10080455
3    1    10128191
4    1    10207004

In [38]:
age_df.head(5)

   viewer_uid  age_class
0    10000001          1
1    10000002          1
2    10000004          1
3    10000005          1
4    10000006          1

In [41]:
df_merged = pd.merge(sex_df, age_df, on='viewer_uid')
df_merged['sex'] = df_merged['sex'].map({0: 'female', 1: 'male'})
new_df = pd.DataFrame({'viewer_uid': df_merged['viewer_uid'], 'sex': df_merged['sex'], 'age_class': df_merged['age_class']})
new_df.head(5)

   viewer_uid     sex  age_class
0    10146165  female          1
1    10003283    male          1
2    10080455    male          1
3    10128191    male          1
4    10207004    male          3